<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Stuart Rutherford</a></li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      © 2021 Stuart Rutherford
    </footer>
  </body>
</html>
